html, body{
  margin:0px;
  padding: 0px;
  cursor: url(imagens/cursor.cur), default;
  color: var(--link-color);
  transition: color 1s;
}

img, p, a{
  transition: 1s;
}

:root {
  --body-bg: #1f2225;
  --body-color: #26292d;
  --link-color: #ffffff;
}

a {
  color: var(--link-color);
  transition: color 1s;
}

.dark-mode:root {
  --body-bg: #C8C8C8;
  --body-color: #BEBEBE;
  --link-color: #000000;
}

body {
  background-image: linear-gradient(to bottom, transparent -90%, var(--body-bg) 50%), url(imagens/bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: var(--body-bg);
  transition: background-color 1s;
  font-family: sans-serif;
  cursor: url(imagens/cursor.cur), default;
}

a {
  cursor: url(imagens/cursor.cur), default;
}

#divnav {
  width: auto;
  height: 80px;
  box-shadow: 0 0 30px black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--body-color);
  transition: background 1s;
}

#divnav hr.ic {
  float: left;
  width: 1px;
  height: 60px;
  background-color: var(--link-color);
  transition: background 1s;
}

img.icon {
  float: left;
  width: 80px;
  height: 80px;
  position: relative;
  animation: mymove2 2s infinite;
}

#divmain {
  margin: auto;
  width: 60%;
  background-color: var(--body-color);
  transition: background 1s;

  box-shadow: black 0px 15px 25px, black 0px 5px 10px, black 0px 40px 20px -38px inset, rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

#interna {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:  center;
}

img.lara {
  width: 30vw;
  height: 30vw;
  max-width: 150px;
  max-height: 150px;
  padding-top: 5%;
  display: block;
}

@media only screen and (max-width: 730px) {

  img.top {
    width: 40vw;
  }

  iframe.dis {
    width: 250px;
    height: 500px;
    padding-top: 10%;
  }

  #links a {
    text-decoration: none;
    cursor: url(imagens/cursor.cur), default;
    font-size: 100%;
    color: var(--link-color);
    transition: color 1s;
  }

  #links hr.bord {
    background-color: #7289DA;
    width: 120%;
    height: 5px;
    border: none;

  }

  div.divslink {
    display: inline-block;
    padding-left: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  img.lara {
    padding-top: 35%;
  }

  h1.pp {
    padding-top: 30%;
    display: inline;
  }

  img.user {
    width: 20vw;
    height: 20vw;
    max-width: 150px;
    max-height: 150px;
    padding-top: 5%;
    padding-left: 5%;
    display: flex;
  }

  div.ex {
    padding-top: 30%;
  }

  img.ex {
    width: 15%;
    height: 15%;
  }

  img.icone {
    width: 10vw;
    height: 10vw;
    filter: saturate(0%);
  }

  img.sla {
    height: 80%;
    width: 80%;
  }

}

@media only screen and (min-width: 730px) {

  img.top {
  width: 20vw;
  }
  
  iframe.dis {
    width: 350px;
    height: 500px;
    padding-top: 5%;
  }

  #links a {
    text-decoration: none;
    cursor: url(imagens/cursor.cur), default;
    font-size: 150%;
    padding-left: 8%;
    color: var(--link-color);
    transition: color 1s;
  }

  #links hr.bord {
    background-color: #7289DA;
    padding-left: auto;
    width: 120%;
    height: 5px;
    border: none;

  }

  div.divslink {
    display: inline-block;
    padding-left: 17%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  img.lara {
    padding-top: 15%;
  }

  h2.user {
    padding-left: 4%;
  }

  h1.pp {
    display: inline;
    padding-top: 15%;
    font-size: 250%
  }

  img.user {
    width: 40%;
    height: 40%;
    max-width: 150px;
    max-height: 150px;
    padding-top: 5%;
    padding-left: 5%;
    display: flex;
  }

  div.ex {
    padding-top: 15%;
  }

  img.ex {
    width: 10%;
    height: 10%;
  }

  img.icone {
    width: 6vw;
    height: 6vw;
    filter: saturate(0%);
  }

}

#pp {
  align-items: center;
  justify-content: center;
  text-align:  center;
}

#pp h1 {
  text-shadow: 3px 5px 2px black;
}

p.ex {
  display: block;
}

#int {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:  center;
  margin-left: 20%;
  margin-right: 20%;
}

.myButton {
	background-color:#7289DA;
	border-radius:28px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  transition: 0.5s;
}
.myButton:hover {
	background-color:#ffffff;
  color: #7289DA;
  transition: 0.5s;
}
.myButton:active {
	position:relative;
	top:1px;
}

img.icone:hover {
  -webkit-animation: saturate 1s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes saturate {
  0%  { -webkit-filter: saturate(0%); }
  100% { -webkit-filter: saturate(100%); }
}

#git {
  filter: invert(20%);
}

#git:hover {
  -webkit-animation: invert 1s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes invert {
  100% { -webkit-filter: invert(0%); }
}

img.sla {
  padding-top: 5%;
}

footer.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:  center;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5%;
}

img.ex {
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  0%, 100%   {top: 0px;}
  50%  {top: -20px;}
}

@keyframes mymove2 {
  0%, 100%   {top: 0px;}
  50%  {top: -5px;}
}

h1.pp {
  background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 45%, #FFCC70 75%, #C850C0 90%, #4158D0 100%);
  -webkit-text-fill-color: transparent;
  font-size: 500%;
  animation: slidebg 10s linear infinite;
}

.lraw {
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 45%, #FFCC70 75%, #C850C0 90%, #4158D0 100%);
  animation: slidebg 100s linear infinite;
  color: white;
}

h2.ex {
  background-image: linear-gradient(43deg, #ff6600 0%, #FFFF00 35%, #24ff00 45%, #4158D0 75%, #ff6600 100%);
  animation: slidebg 100s linear infinite;
  -webkit-text-fill-color: transparent;
}

h2.lr {
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 35%, #FFCC70 45%, #C850C0 75%, #4158D0 100%);
  animation: slidebg 100s linear infinite;
  -webkit-text-fill-color: transparent;
}

h2.fm {
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 35%, #FFCC70 45%, #C850C0 75%, #4158D0 100%);
  animation: slidebg 100s linear infinite;
  -webkit-text-fill-color: transparent;
}

@keyframes slidebg {
  to {
    background-position:300vw;
  }
}

h1.pp, h2.fm, h2.lr, h2.ex {
  -webkit-background-clip: text;
}
